on: [push]

jobs:
  upload_files:
    runs-on: ubuntu-latest
    name: Upload a builded file.
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
    - name: Upload Files
      id: upload
      uses: Creepios/sftp-action@v1.0.1
      with:
        host: '173.230.137.242'
        port: 2299
        username: 'root'
        password: '@@Condor123#@!'
        localPath: './'
        remotePath: '/var/www/html/teste.condor.com.br/pipeline/'